{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/golf.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Load CSS files -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CDN Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeeTime</title>
</head>
</html>

{% block content %}
<div class="hero-unit">
    <h1 id="heading">Welcome to TeeTime</h1>
    <p><a href="#" class="btn btn-primary btn-large">Click here to register &raquo;</a></p>
</div>
<div class="post-list">
    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail.html' post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.content|slice:":100" }}...</p>
            <p><small>By {{ post.author }} on {{ post.date_posted }}</small></p>
        </div>
    {% endfor %}
</div>

<footer>
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</footer>
{% endblock %}