{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% setvar link %}
        <!-- Customised login AllAuth page -->
            <a href="{{ signup_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        <div class="signup-div">
            <i class="fa-solid fa-golf-ball-tee" id="golfball"></i>
            <span>{% blocktranslate %}If you have not created an account yet, then please {{ link }}<span class="signup-span">sign up</span>{{ end_link }} first.{% endblocktranslate %}</span>
            <i class="fa-solid fa-golf-ball-tee" id="golfball"></i>
        </div>
        {% url 'account_login' as login_url %}
        {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% element h1 %}
            {% trans "Sign In" %}
        {% endelement %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
                <button class="form-button" type="submit">
                    {% trans "Sign In" %}
                </button>
            {% endslot %}
        {% endelement %}
    {% endif %}
    {% if LOGIN_BY_CODE_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element h2 %}
            {% element button href=request_login_code_url tags="prominent,login,secondary" %}
                {% trans "Mail me a sign-in code" %}
            {% endelement %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
