{% extends "base.html" %}
{% load allauth i18n %}
{% load static %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
<!-- Sign In div with golf logos -->
    <div class="signin-div">
        <i class="fa-solid fa-golf-ball-tee" id="golfball"></i>
        <p>Already have an account? Then please<a href="{% url 'account_login' %}">sign in</a></p>
        <i class="fa-solid fa-golf-ball-tee" id="golfball"></i>
    </div>
    {% setvar link %}
        <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
        {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
            <!-- Sign Up below heading inside the form -->
                <div class="signup-below">
                {% trans "Sign Up below for all the latest golf news!" %}
                </div>
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ home }}
            {% endslot %}
            {% slot actions %}
            <!-- Sign Up button inside the form -->
                <button class="form-button" type="submit">
                    {% trans "Sign Up" %}
                </button>
            {% endslot %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}