{% extends "base.html" %}

{% load static %}

{% block content %}

<body>
    <div class="golf-courselist-div">
        <h1>Golf Course List!</h1>
        <ul>
            {% for course in courses %}
            <li>
                <h2>{{ course.name }}</h2>
                <p>Location: {{ course.location }}</p>
                <p>{{ course.description }}</p>
                <p>Submitted on: {{ course.created_on }}</p>
                <form method="post" action="{% url 'delete_golfcourse' course.id %}" class="delete-course">
                    {% csrf_token %}
                    <button type="submit" class="deletecourse-button">Delete Course!</button>
                    <button class="back-to-courseform-button"><a href="{% url 'golfcourse_list' %}">Back to course form!</a></button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

{% endblock %}