{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- list of submitted golf courses -->
    <div class="golf-courselist-div">
        <h1>Golf Course List!</h1>
        <ul>
            {% for course in courses %}
            <li>
                <h2>{{ course.name }}</h2>
                <p class="course">Location: {{ course.location }}</p>
                <p class="course">Submitted on: {{ course.created_on }}</p>
                <form method="post" action="{% url 'delete_golfcourse' course.id %}" class="delete-course">
                    {% csrf_token %}
                    <button type="submit" class="deletecourse-button">Delete Course!</button>
                    <a href="{% url 'golfcourse_list' %}" class="button-style">Back to course form!</a>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}