{% extends "base.html" %}

{% load static %}
    {% block content %}
<!-- Golf course submission form -->
<div class="submit-course">
    <h1 class="golf-course">Submit your favourite golf courses here!</h1>
        <ul>
            {% for course in course_list %}
            <li><a href="{% url 'golfcourse_detail' course.pk %}">{{ course.name }}</a></li>
            {% endfor %}
        </ul>
        <button class="golf-course-list-button"><a href="{% url 'golfcourse_create' %}">Add a new golf course &raquo;</a></button>
        <button class="golf-course-list-button"><a href="{% url 'golf-courses' %}"></a>View list of golf courses! &raquo;</button>
</div>
    {% endblock %}