{% extends "base.html" %}

{% load static %}

{% block content %}

<body>
    <div class="golf-courselist-div">
        <h1>Golf Course List!</h1>
        <ul>
            {% for course in courses %}
            <li>
                <h2>{{ course.name }}</h2>
                <p>Location: {{ course.location }}</p>
                <p>{{ course.description }}</p>
                <p>Submitted on: {{ course.submitted_at }}</p>
            </li>
            {% endfor %}
            <button class="back-to-courseform-button"><a href="{% url 'golfcourse_list' %}">Back to course form!</a><button>
        </ul>
    </div>
</body>

{% endblock %}