core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
SECRET_KEY = 'django-insecure-^inq!h42!vgg=#mn8&27y)d8lf!-u3!l$70ax0t!fu%a6+k612'

django1/