body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    background-color: #2dc2bd;
}

#heading {
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
}

a:hover {
    background-color: rgb(255, 0, 0);
    transition-duration: 0.4s;
}

