{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Post structure HTML -->
<body>
    <div class="masthead">
        <div class="container">
            <div class="row g-0">
                <h1 class="post-title">{{ post.title }}</h1>
                <p>{{ post.content }}</p>
                <p><small>By {{ post.author }} on {{ post.created_on }}</small></p>
                <button><a class="post-returnhome-button" href="{% url 'home' %}">Return to home page</a></button>
            </div>

            <h2 class="comment">Make a comment here!</h2>
            <ul>
                {% for comment in comments %}
                <li>
                    <strong>{{ comment.author }}</strong> on {{ comment.created_on }}<br>
                    {{ comment.text }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
<footer>
    <ul class="pager">
        <li><a href="#">Previous &raquo;</a></li>
        <li><a href="#">Next &raquo;</a></li>
    </ul> 
</footer>
{% endblock %}