{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Post structure HTML -->
<body>
    <div class="masthead">
        <div class="container">
            <div>
                <h1 class="post-title">{{ post.title }}</h1>
                <p>{{ post.content }}</p>
                <p><small>By {{ post.author }} on {{ post.created_on }}</small></p>
                <button class="post-returnhome-button"><a href="{% url 'home' %}">Return to home page</a></button>
            </div>
            <ul>
                {% for comment in comments %}
                <li>
                    <strong>{{ comment.author }}</strong> on {{ comment.created_on }}<br>
                    {{ comment.body }}
                    {% if comment.author == request.user or request.user.is_superuser %}
                    <form method="post" action="{% url 'delete_comment' post_id=post.pk comment_id=comment.pk %}" class="delete-comment">
                        {% csrf_token %}
                        <button type="submit" class="deletecomment-button">Delete Comment</button>
                    </form>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>

            <h2>Add a comment here...</h2>
            {% if request.user.is_authenticated %}
            <form method="post" class="comment-form">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button class="add-commentbutton" type="submit">Add Comment</button>
                <button type="submit" class="view-postlist-button"><a href="{% url 'blog' %}">View posts here!</a></button>
            </form>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}
