{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- View post list with delete, edit and view functions -->
<div class="container">
    <div class="row">
        <div class="blog-list">
            {% for post in post_list %}
            <div class="mb-4">
                <div class="card-body">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.author }} | {{ post.created_on }}</p>
                    <form method="POST" action="{% url 'delete_post' post.id %}" class="delete-form">
                        {% csrf_token %}
                        {% if request.user == post.author %}
                        <button type="submit" class="deletepost-button">Delete Post! &raquo;</button>
                        {% endif %}
                        <a href="{% url 'post_detail' post.id %}" class="button-style">View Post! &raquo;</a>
                        {% if request.user == post.author %}
                        <a href="{% url 'edit_post' post.id %}" class="button-style">Edit Post! &raquo;</a>
                        {% endif %}
                    </form>
                </div> 
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}