{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Post structure HTML -->
<body>
    <div class="masthead">
        <div class="container">
            <div class="row g-0">
                <h1 class="post-title">{{ post.title }}</h1>
                <p>{{ post.content }}</p>
                <p><small>By {{ post.author }} on {{ post.created_on }}</small></p>
                <a class="post-returnhome" href="{% url 'home' %}">Return to home page</a>
            </div>
        </div>
    </div>
</body>
<footer>
    <ul class="pager">
        <li><a href="#">Previous &raquo;</a></li>
        <li><a href="#">Next &raquo;</a></li>
    </ul> 
</footer>
{% endblock %}